#login{
    height: 100vh;
    background: url('./../../images/dangnhap1.jpg') center ;
    background-size: cover;
}
#login .box-login{
    width: 35%;
    margin: 0 auto;
    position: relative;
    top: 150px;
}
#login .form{
  width: 100%;
}
#login h3{
    text-shadow: 1px 5px 10px black;
}
#login .form-control{
    border: none;
    border-bottom: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: white;
    padding: 0;
    text-shadow: 1px 1px 2px black;
    transition: .5s;
}
#login .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    margin-left: 0 !important;
    text-shadow: 1px 1px 2px black;
}
#login .form-control:focus{
    box-shadow: none;
    border-color:#bd3f32;
}
#login .form-control:hover .input-group-text{
    border-bottom: 6px solid black;
}
.input-group-text:hover .form-control{
    background-color: #bd3f32;
}
.input-group-text{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
}
.img-login{
    width: 20px;
}
.or{
    background-color: rgb(47, 67, 179);
    margin: 0 auto;
    width: fit-content;
    padding: .5rem;
    border-radius: 100%;
    cursor: default;
    color: white;
}
.mxh .MuiButton-root{
    padding-left: 0 !important;
    width: 45%;
}
.mxh .twitter{
    background-color: rgb(29, 156, 235);
}
.mxh .twitter:hover{
    background-color: rgb(7, 137, 218);
}
.mxh .google{
    background-color: rgb(227, 65, 52);
}
.mxh .google:hover{
    background-color: rgb(226, 46, 33);
}
.mxh .instagram{
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
@media (max-width:1125px){
    #login .box-login{
        width: 45%;
    }
}
@media (max-width:900px){
    #login .box-login{
        width: 50%;
    }
}
@media (max-width:642px){
    #login .box-login{
        width: 60%;
    }
}
@media (max-width:460px){
    #login .box-login{
        width: 80%;
    }
}